In [2]:
# import statements
import requests
import bs4
import pandas as pd
import pyodbc

#connection to db
def database_connection():
    conn = pyodbc.connect(
        r'DRIVER={SQL Server Native Client 11.0};'
        r'SERVER=localhost;'
        r'DATABASE=seis603_pricing_project;'
        r'UID=python_dev;'
        r'PWD=python_dev;'
        )
    cursor = conn.cursor()
    return cursor

db_connection = database_connection()

In [3]:
url = 'https://www.nrcs.usda.gov/wps/portal/nrcs/detail/national/home/?cid=nrcs143_013697'
res = requests.get(url)
soup = bs4.BeautifulSoup(res.text,'html.parser')
fips = soup.find("div", class_='centerColImg').find('table')

In [6]:
#create an empty dataframe
fips_df = pd.DataFrame(columns=["FIPS","County","State"]) 

#grab all the rows in the table and put them in the dataframe
rows = fips.find_all('tr')
for r in rows:
    cols=r.find_all('td')
    cols=[x.text.strip() for x in cols]
    if len(cols) != 0:
        fips_df  = fips_df.append({'FIPS':cols[0],'County':cols[1],'State':cols[2]}, ignore_index=True)

#output the dataframe
print(fips_df.head(5))
#print(fips_df)

    FIPS   County State
0  01001  Autauga    AL
1  01003  Baldwin    AL
2  01005  Barbour    AL
3  01007     Bibb    AL
4  01009   Blount    AL

In [7]:
#save df to csv
fips_df.to_csv("fips_data.csv",sep="|")

In [28]:
#output DF to MSSQL Table
import sqlalchemy
import pyodbc
#engine = sqlalchemy.create_engine("mssql+pyodbc://python_dev:python_dev@localhost")
#engine = create_engine("mssql+pyodbc://python_dev:python_dev@localhost/databasename=seis603_pricing_project?driver=SQL+Server+Native+Client+10.0")

import urllib3
params = "DRIVER={SQL Server Native Client 11.0};SERVER=localhost;DATABASE=seis603_pricing_project;UID=python_dev;PWD=python_dev"
engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)


conn = pyodbc.connect(
        r'DRIVER={SQL Server Native Client 11.0};'
        r'SERVER=localhost;'
        r'DATABASE=seis603_pricing_project;'
        r'UID=python_dev;'
        r'PWD=python_dev;'
        )

fips_df.to_sql(name='missing_fips',con=conn,if_exists='append')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ('42S02', "[42S02] [Microsoft][SQL Server Native Client 11.0][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW)")