In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
import pyodbc
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
import numpy as np

In [2]:
def database_connection():
    conn = pyodbc.connect(
        r'DRIVER={SQL Server Native Client 11.0};'
        r'SERVER=localhost;'
        r'DATABASE=seis603_pricing_project;'
        r'UID=python_dev;'
        r'PWD=python_dev;'
        )
    cursor = conn.cursor()
    return cursor

db_connection = database_connection()

In [3]:
#items tracking
sql = "Select * from dbo.Baseball_Stats"
db_connection.execute(sql)#, params) #executing sproc
list_items = db_connection.fetchall()#[0] #fetchone will only return first result
#df = pd.Series(list_items)
labels = ['pk','regular_season','post_season','year','league']
df = pd.DataFrame.from_records(list_items, columns=labels) #create dataframe from list
print(df)

                   pk  regular_season  post_season  year league
0     foutzda011886AA        0.719298     0.500000  1886     AA
1      penaal011995NL        1.000000     1.000000  1995     NL
2      gurala011980AL        0.642857     1.000000  1980     AL
3     johnsra051995AL        0.900000     1.000000  1995     AL
4     doteloc011999NL        0.727273     1.000000  1999     NL
5     martiti011983AL        0.750000     1.000000  1983     AL
6     vargaja012014AL        0.523810     1.000000  2014     AL
7     myersbr012008NL        0.434783     1.000000  2008     NL
8     arrieja012015NL        0.785714     1.000000  2015     NL
9     larsedo011962NL        0.555556     1.000000  1962     NL
10    garceri011999AL        0.833333     1.000000  1999     AL
11    candejo011979NL        0.608696     0.500000  1979     NL
12    suppaje012004NL        0.640000     0.666667  2004     NL
13    adamsba011909NL        0.800000     1.000000  1909     NL
14    stiveja011892NL        0.686275     1.000000  1892     NL
15    walberu011929AL        0.620690     1.000000  1929     AL
16    guidrro011978AL        0.892857     1.000000  1978     AL
17    garresc011989NL        0.736842     1.000000  1989     NL
18     motagu012006NL        1.000000     1.000000  2006     NL
19    brownmo011906NL        0.812500     0.333333  1906     NL
20    lackejo012002AL        0.692308     1.000000  2002     AL
21    muldema012002AL        0.730769     0.500000  2002     AL
22    brilene011967NL        0.736842     1.000000  1967     NL
23    draveda011987NL        0.454545     0.500000  1987     NL
24    padilvi012009NL        1.000000     1.000000  2009     NL
25    perryga011971NL        0.571429     0.500000  1971     NL
26    blachty012016NL        1.000000     1.000000  2016     NL
27    clemero022004NL        0.818182     0.666667  2004     NL
28    jacksda021993NL        0.521739     1.000000  1993     NL
29    stewada011993AL        0.600000     1.000000  1993     AL
...               ...             ...          ...   ...    ...
1043  hallaro012011NL        0.760000     0.500000  2011     NL
1044  petityu012014NL        0.500000     1.000000  2014     NL
1045  lovetto011890NL        0.731707     0.500000  1890     NL
1046  bendech011910AL        0.821429     0.500000  1910     AL
1047  morrima012002NL        0.653846     1.000000  2002     NL
1048  cuellmi011969AL        0.676471     1.000000  1969     AL
1049  welchbo011978NL        0.636364     1.000000  1978     NL
1050   johnto011981AL        0.529412     1.000000  1981     AL
1051  beckejo022008AL        0.545455     1.000000  2008     AL
1052  brechha011944NL        0.761905     1.000000  1944     NL
1053   maysca011918AL        0.617647     1.000000  1918     AL
1054   kingsi011888AA        0.681818     0.250000  1888     AA
1055  schmija012002NL        0.619048     1.000000  2002     NL
1056  wyattwh011941NL        0.687500     0.500000  1941     NL
1057  alfonan012004NL        0.600000     1.000000  2004     NL
1058  hoffmtr011998NL        0.666667     1.000000  1998     NL
1059  hawkian011984NL        0.470588     0.500000  1984     NL
1060   coneda011992AL        0.571429     0.500000  1992     AL
1061  messean011974NL        0.769231     1.000000  1974     NL
1062  coombja011910AL        0.775000     1.000000  1910     AL
1063  nolanga011976NL        0.625000     1.000000  1976     NL
1064  lestejo012008AL        0.727273     1.000000  2008     AL
1065  stroppe012012AL        0.714286     1.000000  2012     AL
1066   byrdpa012005AL        0.521739     1.000000  2005     AL
1067  clemema012003NL        0.538462     1.000000  2003     NL
1068  earnsge011930AL        0.628571     1.000000  1930     AL
1069  leagubr012014NL        0.400000     1.000000  2014     NL
1070  pennohe011923AL        0.760000     1.000000  1923     AL
1071  violafr011987AL        0.629630     0.750000  1987     AL
1072  billich012008NL        0.615385     1.000000  2008     NL

[1073 rows x 5 columns]

In [4]:
year = df["year"].unique()
#converting to floats
df['regular_season'] = df['regular_season'].astype('float')
df['post_season'] = df['post_season'].astype('float')

#calc_pd.groupby('Price Date')['Item Price'].mean()


AL = df.loc[df['league'] == 'AL']
AL_avg = AL[['regular_season', 'post_season']].mean()
NL = df.loc[df['league'] == 'NL']
NL_avg = NL[['regular_season', 'post_season']].mean()
AA = df.loc[df['league'] == 'AA']
AA_avg = AA[['regular_season', 'post_season']].mean()

In [5]:
AL_trace = go.Scatter(
    x = AL_avg['regular_season'],#dates
    y = AL_avg['post_season'],
    name = 'AL',
    mode = 'markers',
    line = dict(
        color = ('rgb(49, 86, 219)'),
        width = 4)
)


NL_trace = go.Scatter(
    x = NL_avg['regular_season'],#dates
    y = NL_avg['post_season'],
    name = 'NL',
    mode = 'markers',
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4)
)

AA_trace = go.Scatter(
    x = AA_avg['regular_season'],#dates
    y = AA_avg['post_season'],
    name = 'AA',
    mode = 'markers',
    line = dict(
        color = ('rgb(102, 0, 102'),
        width = 4)
)

In [6]:
print(AL_trace)

{'type': 'scatter', 'x': 0.64522068561892787, 'y': 0.89885590724467346, 'name': 'AL', 'mode': 'markers', 'line': {'color': 'rgb(49, 86, 219)', 'width': 4}}

In [7]:

#all the data i.e. the lines in the graph
data = [AL_trace, NL_trace, AA_trace]

#Creating layout of report
layout = go.Layout(
    title='Compare Regular Season Vs Post Season Among Leagues',
    xaxis=dict(
        title='Regluar Season',
        zeroline = False,
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Post Season',
        zeroline = False,
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='simple-line')