In [1]:
import matplotlib.pyplot as plt
from ipywidgets import widgets, interact, fixed
from IPython.display import display, clear_output
import pandas as pd
import numpy as np
import locale
import sys 
import os 
# Add the higher-level directory containing the module to the sys.path 
module_path = os.path.abspath(os.path.join('..', 'libs')) 
if module_path not in sys.path: 
    sys.path.append(module_path) # Import the class from the module from your_module import


from ReportData import *
from ReportGraphs import *

# Set locale to US English for currency formatting
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


ReportsClass = ReportData(copy_file=False,use_copied_file=False)

In [2]:
# Get the data
df_401k = ReportsClass.get_yearly_contributions_per_person('401k')
df_HSA = ReportsClass.get_yearly_contributions_per_person('HSA')
df_roth = ReportsClass.get_yearly_contributions_per_person('Roth IRA')

# reorder df
df_401k =  df_401k.iloc[::-1]
df_HSA = df_HSA.iloc[::-1]
df_roth = df_roth.iloc[::-1]

# print to log
print("--"*10)
print("401k")
print("--"*10)
print(df_401k.head(10))

print("--"*10)
print("HSA")
print("--"*10)
print(df_HSA.head(10))

print("--"*10)
print("Roth")
print("--"*10)
print(df_roth.head(10))

--------------------
401k
--------------------
    Year   Owner  Employee  Employer  Employee Limit
15  2024  Robert  14144.94      0.00           23000
14  2024  Amanda  12626.90   3489.99           23000
13  2023  Robert  12553.11    284.37           22500
12  2023  Amanda   7936.29   3054.12           22500
11  2022  Robert  11994.78   4365.17           20500
10  2022  Amanda   5352.73   2674.87           20500
9   2021  Robert  14699.44   3977.28           19500
8   2021  Amanda   4175.02   2087.42           19500
7   2020  Robert  11105.86   1844.20           19500
6   2020  Amanda   4087.37   2043.80           19500
--------------------
HSA
--------------------
    Year   Owner  Employee  Employer  Employee Limit
10  2024  Robert   1500.00    124.98            8300
9   2023  Robert    403.84    178.56            7750
8   2022  Robert   4615.50   2403.75            7300
7   2021  Robert   3942.25   2884.50            7300
6   2020  Robert   4099.94   3000.00            7100
5   2019  Robert      0.00      0.00            7000
4   2018  Robert   2456.71      0.00            6900
3   2017  Robert   1308.69      0.00            6750
2   2016  Robert   1111.82      0.00            6750
1   2015  Robert   5678.31      0.00            6650
--------------------
Roth
--------------------
    Year   Owner  Employee  Employer  Employee Limit
14  2024  Robert      0.00       0.0          7000.0
13  2023  Robert      0.00       0.0          6500.0
12  2022  Robert      0.00       0.0          6000.0
11  2021  Robert    479.00       0.0          6000.0
10  2020  Robert    409.00       0.0          6000.0
9   2019  Robert    500.00       0.0          6000.0
8   2018  Robert   1200.00       0.0          5500.0
7   2017  Robert   1200.00       0.0          5500.0
6   2016  Robert   2454.11       0.0          5500.0
5   2015  Robert   5499.96       0.0          5500.0

## Report Parameters

In [3]:
# Get the last 3 distinct years
last_3_years = df_401k['Year'].drop_duplicates().sort_values(ascending=False).head(3).tolist()

print(last_3_years)

# Dropdown menu
year_dropdown = widgets.SelectMultiple(
    options=df_401k['Year'].drop_duplicates().tolist(),
    value=last_3_years,
    description='Select Year(s):',
)

# Define the bar width slider 
bar_width_slider = widgets.FloatSlider(
    value=0.35, 
    min=0.05, 
    max=1.0, 
    step=0.05, 
    description='Bar Width:', 
)

[2024, 2023, 2022]

## 401k Contributions

In [4]:

print("-----")
print(df_401k.loc[df_401k['Year'] == 2024])
print("-----")

def yearly_contributions(selected_years,bar_width):
    clear_output(wait=True)
    yearly_contributions_stacked_bar_graph(df_401k,selected_years, title='401k Contributions Per Year', bar_width=bar_width)
    yearly_contributions_stacked_bar_graph(df_HSA,selected_years, title='HSA Contributionsr Per Year', bar_width=bar_width)
    yearly_contributions_stacked_bar_graph(df_roth,selected_years, title='ROTH Contributionsr Per Year', bar_width=bar_width)
    
    
interactive_plots = widgets.interactive(yearly_contributions, selected_years=year_dropdown, bar_width=bar_width_slider)

# Display the interactive plot only (this includes the dropdown)
display(interactive_plots)

-----
    Year   Owner  Employee  Employer  Employee Limit
15  2024  Robert  14144.94      0.00           23000
14  2024  Amanda  12626.90   3489.99           23000
-----

interactive(children=(SelectMultiple(description='Select Year(s):', index=(0, 1, 2), options=(2024, 2023, 2022…

## Yearly Contributions By Company and Type

In [5]:

df_yearly_contributions_by_company = ReportsClass.get_yearly_retirement_contributions(agg_by='Company')
df_yearly_contributions_by_type = ReportsClass.get_yearly_retirement_contributions(agg_by='Type')
df_yearly_contributions_by_employer = ReportsClass.get_yearly_retirement_contributions(agg_by='Employer')

df_yearly_contributions_by_company =  df_yearly_contributions_by_company.iloc[::-1]
df_yearly_contributions_by_type =  df_yearly_contributions_by_type.iloc[::-1]
df_yearly_contributions_by_employer = df_yearly_contributions_by_employer.iloc[::-1]

print(df_yearly_contributions_by_company.head(10))
print("---"*10)
print(df_yearly_contributions_by_type.head(10))
print("---"*10)
print(df_yearly_contributions_by_employer.head(10))


def create_bar_plots_company(selected_years,bar_width):
    clear_output(wait=True)
    yearly_balance_stacked_bar_graph(df_yearly_contributions_by_company,selected_years, title='Contributions By Company Per Year', group_by=['Year','Company'], width=bar_width,money_type='Contributions')
    yearly_balance_stacked_bar_graph(df_yearly_contributions_by_type,selected_years, title='Contriobutions By Type Per Year', group_by=['Year','Type'], width=bar_width,money_type='Contributions')
    yearly_balance_stacked_bar_graph(df_yearly_contributions_by_employer,selected_years, title='Contributions By Employer Per Year', group_by=['Year','Employer'], width=bar_width,money_type='Contributions')
    
    
interactive_plots = widgets.interactive(create_bar_plots_company, selected_years=year_dropdown,bar_width=bar_width_slider)

# Display the interactive plot only (this includes the dropdown)
display(interactive_plots)

    Year          Company  Contributions
31  2024     John Hancock       12269.94
30  2024         Fidelity       16116.89
29  2024   Charles Schwab        1875.00
28  2024  Associated Bank        1624.98
27  2023     John Hancock       11700.00
26  2023         Fidelity       12710.29
25  2022         Fidelity       31406.80
24  2021         Vanguard         479.00
23  2021         Fidelity       31765.91
22  2020         Vanguard        2409.00
------------------------------
    Year             Type  Contributions
33  2024              HSA        1624.98
32  2024             401k       30261.83
31  2023              HSA         582.40
30  2023             401k       23827.89
29  2022              HSA        7019.25
28  2022             401k       24387.55
27  2021         Roth IRA         479.00
26  2021              HSA        6826.75
25  2021             401k       24939.16
24  2020  Traditional IRA        2000.00
------------------------------
    Year         Employer  Contributions
29  2024              UHS       16116.89
28  2024        SwineTech       12269.94
27  2024  Associated Bank        3499.98
26  2023              UHS       10990.41
25  2023        SwineTech       11700.00
24  2023  Rocket Software        1719.88
23  2022              UHS        8027.60
22  2022  Rocket Software       23379.20
21  2021              UHS        6262.44
20  2021  Rocket Software       25503.47

interactive(children=(SelectMultiple(description='Select Year(s):', index=(0, 1, 2), options=(2024, 2023, 2022…