# Introducing Pandas Objects

In [2]:
import numpy as np
import pandas as pd

## The Pandas Series Object

In [3]:
# A pandas series is a one-dim array of indexed data. It can be created from a list or array as follows
data = pd.Series([0.25, 0.5, 0.75, 7.0])
data

0    0.25
1    0.50
2    0.75
3    7.00
dtype: float64

In [4]:
data.values

array([ 0.25,  0.5 ,  0.75,  7.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
data[1:3].values

array([ 0.5 ,  0.75])

## Series as generalized NumPy array

In [10]:
data= pd.Series([0.25, 0.5, 0.75, 1.0],
               index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
data['b']

0.5

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

## Series as specialized dictionary

In [14]:
population_dict = {'California': 38332521,
                    'Texas': 26448193,
                      'New York': 19651127,
                      'Florida': 19552860,
                      'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [15]:
population['California']

38332521

In [16]:
population['California': 'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

## Constructing Series objects

In [17]:
# pd.Series(data, index=index)
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [18]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [19]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

In [22]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

# Constructing DataFrame Objects

## From a single Series object

In [24]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

## From a list of dicts

In [26]:
data = [{'a':i, 'b':2 *i}
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4